<div class="row">
    <div class="col">
        <footer class="navbar navbar-expand-xl p-3 mb-1 bg-warning-subtle text-light">
            <div class="f1">

                <figure class="bloqFooter ">
                    <img class="imageFooter" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREiCO-vrVZCEba71lX6N_
                    -CYWQMsc2LQJjkQ&usqp=CAU"alt="">Contacta con nosotros
                    <a class="textFooter" href="https://www.uc3m.es/inicio/contacta"></a>
                    <a class="textFooter1">©_2024_SCHOOL</a>
                </figure>
            </div>
        </footer>

    </div>
</div>